*{ margin: 0;
    padding: 0;}

body { 
    background-image: url(../images/web.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
    padding: 0%;
}
 
header { 
   background-color:rgb(57, 57, 236);
   display: flex;
   justify-content: space-between;
   width: 100%;
   height: 8vh;
}
   
.NavBar img { 
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 8vh;
    transition: 0.5s;
    margin-right: 4px;
}
.NavBar img:hover { 
    width: 80px;
    height: 50px;
}
.NavImg img { 
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 8vh;
  transition: 0.5s;
}
.NavImg img:hover { 
    width: 80px;
    height: 50px;
}

nav { 
 width: 100%;
}
   
ul { 
 align-items: center;
 height: 8vh;
 background-color:rgb(57, 57, 236);
 font-family: 'Suez One', serif;
 font-size: 20px;
 font-weight: bold 700px;
 display: flex;
 justify-content: space-around;
 list-style-type: none ;
 padding: 0%;
 transition: 1s;
}
   
li { 
    text-align: center;
    transition: 0.5s;
    color: black;
}
   
li:hover { 
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 10px;
} 

nav a{
    text-decoration: none;
}

#card{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card h1 ,h3{
    text-align: center;
    font-family: 'Fruktur', cursive;
    color: blanchedalmond;
}