*{ margin: 0;
    padding: 0;}

body { 
    background-image: url(../images/web.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
    padding: 0%;
}
 
   
.sec{
    display: flex;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.596);
}
.sec a{
    text-decoration: none;
}

.sec img{
    width: 100px;
    height: 50px;
    transition: 1s;

}
.sec img:hover { 
    width: 110px;
    height: 70px;
}

nav { 
 width: 100%;
}
   
ul { 
 align-items: center;
 font-family: 'Suez One', serif;
 font-size: 30px;
 display: flex;
 justify-content: space-around;
 list-style-type: none ;
 transition: 1s;
}
   
li { 
    text-align: center;
    transition: 0.5s;
    color: rgb(255, 255, 255);
    
}
   
li:hover { 
    border-radius: 10px;
    text-shadow: 2px 2px 5px goldenrod;
    border-top: solid 3px black;
    border-bottom: solid 3px black ;
} 

nav a{
    text-decoration: none;
}

h1{
    color: white;
    font-family: 'Suez One', serif;
}

input{
    width: 150px;
    height: 25px;
    transition: 1s;
}

input:hover{
    width: 170px;
    height: 29px; 
}

#all{
    display: flex;
    justify-content: center;
    margin: 50px;
}
label{
    font-family: 'Suez One', serif;

}

#btn{
    width: 100px;
    height: 20px;
}

#btn:hover{
    background-color: goldenrod;
}

#contener{
    background-color: rgba(255, 99, 71, 0.5);
    border-radius: 25px;
    border-top: 2px solid goldenrod;
    border-bottom: 2px solid goldenrod; 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

#form{

    display: flex;
    flex-direction: column;
    align-items: center;

}


footer nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(218, 165, 32, 0.37);
}
footer h4{
    text-align: center;
    color: blanchedalmond;
    font-size: 40px;
    font-family: 'Fruktur', cursive;

}

.icons img{
    margin: 15px;
    width: 50px;
}