*{ margin: 0;
    padding: 0;}

body { 
    background-image: url(https://cdn.pixabay.com/photo/2019/11/07/20/48/cinema-4609877_1280.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
    padding: 0%;
}
 
header { 
   background-color:rgb(57, 57, 236);
   display: flex;
   justify-content: space-between;
   width: 100%;
   height: 8vh;
}
   
#sec{
    display: flex;
    justify-content: space-between;
}

#sec img{
    width: 70px;
}

.NavBar img { 
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 8vh;
    transition: 0.5s;
    margin-right: 4px;
}
.NavBar img:hover { 
    width: 80px;
    height: 50px;
}
.NavImg img { 
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 8vh;
  transition: 0.5s;
}
.NavImg img:hover { 
    width: 80px;
    height: 50px;
}

nav { 
 width: 100%;
}
   
ul { 
 align-items: center;
 height: 8vh;
 background-color:rgb(57, 57, 236);
 font-family: 'Suez One', serif;
 font-size: 20px;
 font-weight: bold 700px;
 display: flex;
 justify-content: space-around;
 list-style-type: none ;
 padding: 0%;
 transition: 1s;
 
}
   
li { 
    text-align: center;
    transition: 0.5s;
    color: black;
    
}
   
li:hover { 
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 10px;
} 

nav a{
    text-decoration: none;
}


#welcome{
height: 300px;
margin: 50px; 
background-image: url(https://cdn.pixabay.com/photo/2017/11/24/10/43/ticket-2974645_1280.jpg);
background-position: center;
position: relative; 
padding: 0%;
}

#welcome h1{
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    font-family: 'Fruktur', cursive;
    color: blanchedalmond;
}

span{
    font-size: 70px;
}

#contener{
    width: 100%;
    display: flex;
}
.article{
    display: flex;
    flex-direction: column;
    margin: 2px;
    width: 25%;
    height: 250px;
    background-color:rgba(0, 0, 0, 0.596);
    font-family: 'Fruktur', cursive;
    transition: 0.5s;
    color: white;

}
.article img{
    margin: 15px;
    width: 50px;
    height: 50px;
    color: white;
}

.article span{
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
    width: 150px;
    border-radius: 25px;
    background: transparent;
    border: 2px solid #e5a00d;
    color: #e5a00d;
    
}

.article:hover{
    background-color: rgba(255, 255, 255, 0.644);
    width: 30%;
    height: 300px;
}

.article  a{
    text-decoration: none;
}

#WhyUS{
margin-top: 30px;
display: flex;
}

#WhyUS img{
    width: 650px;
}

#articalWhyUS{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#articalWhyUS h1{
    color: cornsilk;
    font-size: 60px;
    font-family: 'Fruktur', cursive;
}
#articalWhyUS p{
    color: cornsilk;
    font-size: 20px;
    font-family: 'Fruktur', cursive;

}
footer nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(218, 165, 32, 0.37);
}
footer h4{
    text-align: center;
    color: blanchedalmond;
    font-size: 40px;
    font-family: 'Fruktur', cursive;

}

#icons img{
    margin: 25px;
    width: 30px;
}