*{ margin: 0;
    padding: 0;}

body { 
    background-image: url(https://cdn.pixabay.com/photo/2019/11/07/20/48/cinema-4609877_1280.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
    padding: 0%;
}

.sec{
    display: flex;
    justify-content: space-between;
    background-color: rgba(10, 8, 8, 0.719);
}
.sec a{
    text-decoration: none;
}

.sec img{
    width: 100px;
    height: 50px;
    transition: 1s;

}
.sec img:hover { 
    width: 110px;
    height: 70px;
}

nav { 
 width: 100%;
}
   
ul { 
 align-items: center;
 font-family: 'Suez One', serif;
 font-size: 30px;
 display: flex;
 justify-content: space-around;
 list-style-type: none ;
 transition: 1s;
}
   
li { 
    text-align: center;
    transition: 0.5s;
    color: rgb(255, 255, 255);
    
}
   
li:hover { 
    border-radius: 10px;
    text-shadow: 2px 2px 5px goldenrod;
    border-top: solid 3px black;
    border-bottom: solid 3px black ;
} 

nav a{
    text-decoration: none;
}


#welcome{
height: 300px;
margin: 50px; 
background-image: url(https://cdn.pixabay.com/photo/2017/11/24/10/43/ticket-2974645_1280.jpg);
background-position: center;
position: relative; 
padding: 0%;
}

#welcome h1{
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    font-family: 'Fruktur', cursive;
    color: blanchedalmond;
}

span{
    font-size: 70px;
}

#contener{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
    width: 40%;
    height: 250px;
    background-color:rgba(0, 0, 0, 0.596);
    font-family: 'Fruktur', cursive;
    transition: 0.5s;
    color: white;

}
.article img{
    margin: 15px;
    width: 50px;
    height: 50px;
    color: white;
}

.article span{
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
    width: 150px;
    border-radius: 25px;
    background: transparent;
    border: 2px solid #e5a00d;
    color: #e5a00d;
    
}

.article:hover{
    background-color: rgba(255, 255, 255, 0.644);
    width: 45%;
    height: 280px;
}

.article  a{
    text-decoration: none;
}

#WhyUS{
margin-top: 30px;
display: flex;
}

#WhyUS img{
    width: 650px;
}

#articalWhyUS{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#articalWhyUS h1{
    color: cornsilk;
    font-size: 60px;
    font-family: 'Fruktur', cursive;
}
#articalWhyUS p{
    color: cornsilk;
    font-size: 20px;
    font-family: 'Fruktur', cursive;

}

footer nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5a10d96;
}
footer h4{
    text-align: center;
    color: blanchedalmond;
    font-size: 40px;
    font-family: 'Fruktur', cursive;

}

.icons img{
    margin: 15px;
    width: 50px;
}